@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.grid {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
}

.panel {
    padding: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    align-content: space-between;
}

.grid-container {
    background-color: rgba(0, 0, 0, 0.0);
}

.background-support {
    background-image: url('./img/bg.jpg');
    background-size: cover;
}
html {
    margin: 0px;
    padding: 0px;
    font-family: 'Ranchers', cursive;
}
body {
    /* width: 100vh; */
    display: flex;
    /* align-items: center; */
    /* align-self: center; */
    /* align-content: center; */
    justify-content: center;
}

.start-button button{
    font-family: 'Ranchers', cursive;
}
.app {
    /* display: flex; */
}

.grid div {
    height: 5%;
    width: 5%;
    /* background-color: red; */
}

.tetromino {
    background-color: blue;
}

.mini-grid{
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.5);
}

.mini-grid div {
    width: 30px;
    height: 30px;
}